
.chevronContainer {
    width:100%;
}
.chevron {
    width:50%;
    aspect-ratio: 1/1;
    /* transform: translateX(50%) rotate(-45deg); */
    transform: translateX(50%) translateY(25%);
    clip-path:polygon(0% 0%, 50% 50%, 100% 0%);
}
