.menuButton {

    border-radius:1.75rem;
    background-color:var(--base-color);
    color:white;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 2vh;
    text-align: center;
    width: fit-content;
    padding: 0.5rem 1.5rem
}

.menuButton:hover{
    background-color:var(--base-hover);
    cursor: pointer
}

@media only screen and (max-width: 811px) {
    .menuButton {

        border-radius:1.75rem;
        background-color:var(--base-color);
        color:white;
        font-family: var(--font-family);
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        width: fit-content;
        padding: 0.5rem 1.5rem
    }
}