.dropping-disc {

    transform: scale(80%);
    position: relative;
    z-index: 1;
    will-change: transform;
}

.start-drop-animation {
    animation: drop ease-in-out var(--animation-time);
    animation-delay: 10ms;
    animation-fill-mode: forwards;
}
@keyframes drop {
    from {
        transform:scale(80%)
    }
    to {
        transform: scale(80%) translateY(var(--disc-end-height));
    }
}