.dropping-disc {
    transform: scale(80%);
    position: relative;
    z-index: 1;
    /* top:var(--disc-start-height); */
    will-change: transform;
}

.start-drop-animation {
    animation: drop ease-in-out var(--animation-time);
    animation-delay: 10ms;
    animation-fill-mode: forwards;
}
@keyframes drop {
    from {
        /* top:var(--disc-start-height); */
        transform:scale(80%)
    }
    to {
        /* top: var(--disc-end-height); */
        transform: scale(80%) translateY(var(--disc-end-height));
    }
}