.gameboard {
    width:100%;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: 0 0 0 100px white;
}
.gameboard-container {
    width:100%;
    padding: 2% 2% 8% 2%;
    border:0.325rem solid black;
    box-shadow: 0 1rem black;
    border-radius: 5%;
    position: relative;
    z-index: 2;
    overflow: hidden;

}

.disc-container {
    overflow:hidden;
    /* border:1px solid red; */
}

.disc-hole {
    display:flex;
    align-items: center;
    justify-content: center;
    /* padding:10%; */
    position: relative;
    z-index: 4;
    border-radius: 100%;
    transform:scale(80%);
    box-shadow: 0 0 0 75px var(--neutral-white);
    overflow:hidden;
    width:100%;
}

.disc-shadow {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform:translateY(15%);
    box-shadow: 0 0 0 500px black;
}

.column {
    /* border:1px solid blue; */
    width:100%;
    /* background-color: var(--neutral-white); */
}

.column:hover {
    cursor:pointer;
}


.dropping-disc {
    transform: scale(80%);
    position: relative;
    z-index: 1;
    /* top:var(--disc-start-height); */
    will-change: transform;
}

.start-drop-animation {
    animation: drop ease-in-out var(--animation-time);
    animation-delay: 10ms;
    animation-fill-mode: forwards;
}
@keyframes drop {
    from {
        /* top:var(--disc-start-height); */
        transform:scale(80%)
    }
    to {
        /* top: var(--disc-end-height); */
        transform: scale(80%) translateY(var(--disc-end-height));
    }
}