.gameboard {
    width:100%;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: 0 0 0 100px white;
}
.gameboard-container {
    width:100%;
    padding: 2% 2% 8% 2%;
    border:0.325rem solid black;
    box-shadow: 0 1rem black;
    border-radius: 5%;
    position: relative;
    z-index: 2;
    overflow: hidden;

}

.column {
    /* border:1px solid blue; */
    width:100%;
    /* background-color: var(--neutral-white); */
}

.column:hover {
    cursor:pointer;
}


