* {
  box-sizing: border-box;
  padding:0
}

:root {
  --base-color: #5C2DD5;
  --base-light: #7945FF;
  --base-hover: #FD6687;
  --primary-color:#FD6687;
  --primary-hover:#FD6687;
  --secondary-color:#FFCE67;
  --secondary-hover:#FFCE67;
  --neutral-white: #FFFFFF;
  --neutral-gray-light: #AAAAAA; 
  --neutral-gray-dark: #444444; 
  --font-family: Courier, monospace
}

body {
  padding: 0;
  margin: 0;
}

.base {
  width:100%;
  height:100vh;
  background-color:var(--base-light);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.column {
  height:100%;
  width:100%;
  padding:0rem 3rem
}

.column-center {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}

.column-left {
  display:flex;
  justify-content:end;
}

.column-right {
  display:flex;
  justify-content:start;
}

.footer {
  position:absolute;
  width:100%;
  height:20vh;
  background-color: var(--base-color);
  border-radius: 3rem 3rem 0 0;
  bottom:0
}